<html>
<head>
	<title>About</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'pt_details/style1.css' %}">
	<link rel="stylesheet" href="{% static 'pt_details/style2.css' %}">
	
</head>
<body class="bgimg">
<div class="menu">
	<ul>
		<li class="logo"><img src="{% static 'pt_details/3.png' %}"></li>
		<li><a href="/home" class="form">Home</a></li>
		<li><a href="/apt" class="form">Patient Details</li>
		<li><a href="/reg" class="form">Admit Form</a></li>
		<li><a href="/srh" class="form">Search</a></li>
		<li class="active">About</li>
		<li><a href="/logout" class="lgn-btn">Logout</a></li>
	</ul>	
</div>
<h1>About VIP Hospital</h1>

<h3 align="justify">
<br><br><br>	VIP Hospital, Uttarkashi <br>
Our team has treated more than 3, 00,000+ patients across 25 specialties. This 200+ bedded facility offer services in medical disciplines of Neurosciences (MIND), Cardiac Sciences, Orthopedics, and other multi-specialties like Urology, Nephrology, Mental health and Behavioral Sciences, Aesthetics and Reconstructive surgery among several others. The Neurosciences centre of excellence is equipped with Neuro Navigation, Stereotaxy, Microscopic Surgery (High-end microscope), advanced brain tumour centre, Endoscopic surgery, and special clinics for Epileptic, Neuromuscular and movement disorders. We offer specialized care with the best of technology like Gait Training, TENS, Muscle Stimulator, EMG Biofeedback; alongside pain management through Micro Currents and Diadynamic Currents, Laser pain relief for Migraine, Kineso Taping and Dry Needling.
<br><br>
How to reach Uttarkshi<br>
VIP Super Hospital, Uttarkashi<br>
Address: Bhatwari Road, 248 001 Uttarkashi,UL India

</h3>

</body>
</html>