<html>
  <head>
    <title>Login Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pt_details/style.css' %}">
  </head>
  <body>

<form class="box" action="#" method="post">
  {% csrf_token %}

  <h1>LOGIN</h1>
  <input type="text" name="user" placeholder="Username">
  <input type="password" name="pass" placeholder="Password">
  <input type="submit" name="login" value="Login">
</form>

<div>
  {% for message in messages %}
  <h3>{{message}}</h3>
  {% endfor %}
</div>
  </body>
</html>
